* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    
}

footer{
    background-color: #001639;
    color: white;
    padding: 30px;
}


/* Background*/

.background{
    background-color: #3732F1;
    color: white;
}


.img{
    display: block;
}


/* LES CLASSES FONCTIONNELLES FLEX */

.flex {
    display: flex;
    flex-wrap: wrap;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.space-evenly {
    justify-content: space-evenly;
}

.justify-content {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.flex-end {
    justify-content: flex-end;
}

.flex-start {
    justify-content: flex-start;
}

.flex-direction{
    flex-direction: column;
}

/* alignement verticale */

.align-center {
    align-items: center;
}

.align-end {
    align-items: end;
}

/* Gap */

.gap-25 {
    gap: 25px;
}

/* LES CLASSES DE LARGEUR */

.w-100 {
    width: 100%;
}
.w-125 {
    width: 125%;
}

.w-48 {
    width: 48%;
}

.w-33 {
    width: 33%;
}

.w-15 {
    width: 15%;

}

.w-25 {
    width: 25%;
}

.w-75 {
    width: 80%;
}

.w-30 {
    width: 30%;
}

.w-65 {
    width: 65%;
}


.w-50 {
    width: 50%;
}

.w-10 {
    width: 10%;
}

.w-122 {
    width: 122%;
}



.container-1000 {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}



.bg-hero {
    background-image: url('asset/966shots_so.png');
    background-color: #ffffff;
    background-position: center left 200px;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;

}

.bg-hero-2 {
    background-image: url('asset/Génération Active/Génération Active/Pexels Photo by Airam Dato-on (1).png');
    border-radius: 12px;
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
    background-position: 100% , left 120px;
}

.carte-hero {
    background-color: white;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0px 0px 50px  #0058e519;
    width: 38%;
}

.header {
   display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
    background-color: rgb(255, 255, 255);
 
  border-radius: 12px;
  width: 90%;
  margin: auto;
    box-shadow: 0px 0px 50px  #0058e519;
    a{
        color:#000;
    }
}

.margin-top-100{
    margin-top: 100px;
}
.margin-top-40 {
    margin-top: 40px;
}
.margin-top-20 {
    margin-top: 20px;
}

.margin-bottom-15{
    margin-bottom: 20px;
}

.bg-color-blanc {
    background-color: rgb(255, 255, 255);
}


.mini-card {
 background-color: #ffffff;
  border-radius: 10px;       
 padding: 20px;
  width: 170px;              
  flex-direction: column;              
  box-sizing: border-box; 
  box-shadow: 0px 0px 50px  #0058e519;

}

.carte-navigation {
 background-color: #ffffff; 
  border-radius: 10px;                   
  nav{
    border-radius: 16px;
    padding: 16px;
    a{
        color: #000;
    }
    li{
        margin-bottom: 8px;
    }
  }
}


.card {
  max-width: 600px;
  background: #eef2ff; 
  border-radius: 24px;
  box-shadow:
    0 10px 25px rgba(0, 0, 0, 0.08),
    0 4px 10px rgba(0, 0, 0, 0.04);
 
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}


.card2 {
  max-width: 600px;
  background: #ffffff; 
  border-radius: 24px;
  padding: 24px 28px;
 
  box-shadow:
    0 10px 25px rgba(0, 0, 0, 0.08),
    0 4px 10px rgba(0, 0, 0, 0.04);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

.card3 {
  max-width: 600px;
  background: #eef2ff; 
  border-radius: 24px;
  padding: 24px 28px;
  text-align: center;
  box-shadow:
    0 10px 25px rgba(0, 0, 0, 0.08),
    0 4px 10px rgba(0, 0, 0, 0.04);

  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}
.text-color-vert{
    color: #33B079;
}


.text-color-black{
    color: black;
    
}



.ombre{
    
    filter: drop-shadow(0px 0px 50px #0058e519);
}


/* texte bleu*/

.bleu{
    color: #3732F1;
}

/*boutons*/

.bouton{
    background-color: #1F75FF;
    padding: 5px 30px;
    border-radius: 8px;
    color: white;
    display: inline-block;
    margin-top: 20px;
}


/*  Top  */
.top{
    padding-bottom: 20px;
}

.top2{
    margin-top: 5px;
}

.top3{
    margin-top: 120px;
}



.shadow{
box-shadow: 0px 0px 50px  #0058e519;
}


.button-header {
    background-color: rgba(31, 117, 255, 0.142);
    padding: 10px 20px;
    border-radius: 8px;
    color: white;
}

.button-site {
    background-color: rgb(31, 117, 255);
    padding: 10px 20px;
    border-radius: 8px;
    color: white;
}

.carte-info {
    background-color: white;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0px 0px 50px  #0058e519;
    width: 20%;
}

.margin-right-50{
    margin-right: 50px;
}

.padding-bottom-20{
    padding-bottom: 20px;
}

.padding-left-20{
    padding-left: 20px;
}

.margin-bottom-30{
    margin-bottom: 30px;
}

/*Legende*/

.trait{
    width : 100px;
    height: 4px;
    background-color: #000;
}
.rond{
    width: 8px;
    height: 8px;
    border-radius: 8px;
    background-color: #000;
}
.trait-legende{
    display: flex;
    margin-top: 8px;    
    align-items: center;
}

.legende{
    width:50%;
    position:absolute;
    top: 0%;
    left:0%;
}

.trait-gauche{
    flex-direction: row-reverse;
}

.relative{
    position: relative;
}


.padding2{
    padding: 20px;
}

.icon {
  color: #fedd06;
}


.bleu2{
    background-color: rgb(31, 117, 255);
    padding: 10px 20px;
    border-radius: 8px;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}







/*   SCROOLL   */

.slider-projets {
    display: flex; /* Affichage en flexbox horizontal */
    gap: 20px; /* Espace entre les projets */
   
    flex-shrink: 0; /* Empêche le rétrécissement de l'élément dans sa largeur. en gros on autorise les enfants a déborder */
    cursor: pointer; /* Change le curseur au survol */
}

/* Style individuel pour chaque projet */
.projet-item {
    width: 500px; /* Largeur fixe */
    flex-shrink: 0; /* Empêche le rétrécissement de l'élément */
    cursor: pointer; /* Change le curseur au survol */
}



.sliderProjets-container {
    display: flex; /* Affichage en flexbox horizontal */
    gap: 20px; /* Espace entre les éléments enfants */
    overflow-x: scroll; /* Permet le défilement horizontal */
    scroll-snap-type: x mandatory; /* Défilement fluide avec arrêt sur chaque élément */
    padding: 16px 0;
}

/* Style des images dans chaque projet */
.projet-item img {
    width: 100%;
    height: 200px;
    object-fit: cover; 
    border-radius: 8px;
    display: block; 
}
.scroll-container * {
    user-select: none;
}




.fixe{
    position: fixed ;
    width: 100%;
    z-index: 2;
    top :20px;
    left: 50%;
    transform: translateX(-50%);
}

.sticky{
    position: sticky;
    top: 100px;
}


.texte-centre {
text-align: center;
}





.border-radius-12{
    border-radius: 50px;
}











/* position pour les div autour des telephone */

/* position tel 1 et 3 */

.position-div-gauche{
    top: 10%;
    left: -30%;
}

.position-div-droite{
    top: 60%;
    left: 45%;
}

/* position tel 2 */


