* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    color: rgb(0, 0, 0);
}



/* LES CLASSES FONCTIONNELLES FLEX */

.flex {
    display: flex;
    flex-wrap: wrap;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.space-evenly {
    justify-content: space-evenly;
}

.justify-center {
    justify-content: center;
}

.flex-end {
    justify-content: flex-end;
}

.flex-start {
    justify-content: flex-start;
}

/* alignement verticale */

.align-center {
    align-items: center;
}

.align-end {
    align-items: end;
}

/* Gap */

.gap-25 {
    gap: 25px;
}

/* LES CLASSES DE LARGEUR */

.w-100 {
    width: 100%;
}
.w-125 {
    width: 125%;
}

.w-48 {
    width: 48%;
}

.w-33 {
    width: 33%;
}

.w-15 {
    width: 15%;
}

.w-25 {
    width: 33%;
}

.w-75 {
    width: 80%;
}

.w-30 {
    width: 30%;
}


.container-1000 {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}



.bg-hero {
    background-color: white;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

