* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    
}

footer{
    background-color: #001639;
    color: white;
}




/* LES CLASSES FONCTIONNELLES FLEX */

.flex {
    display: flex;
    flex-wrap: wrap;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.space-evenly {
    justify-content: space-evenly;
}

.justify-center {
    justify-content: center;
}

.flex-end {
    justify-content: flex-end;
}

.flex-start {
    justify-content: flex-start;
}

/* alignement verticale */

.align-center {
    align-items: center;
}

.align-end {
    align-items: end;
}

/* Gap */

.gap-25 {
    gap: 25px;
}

/* LES CLASSES DE LARGEUR */

.w-100 {
    width: 100%;
}
.w-125 {
    width: 125%;
}

.w-48 {
    width: 48%;
}

.w-33 {
    width: 33%;
}

.w-15 {
    width: 15%;

}

.w-25 {
    width: 33%;
}

.w-75 {
    width: 80%;
}

.w-30 {
    width: 30%;
}


.container-1000 {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}



.bg-hero {
    background-image: url('asset/966shots_so.png');
    background-color: #ffffff;
    background-position: center left 200px;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;

}

.header1 {
   display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
    background-color: rgb(255, 255, 255);
  position: relative;
  border-radius: 12px;
  width: 90%;
  margin: auto;
    box-shadow: 5px 4px 5px 3px #0058e519;
}

.margin-top-20 {
    margin-top: 40px;
}

.bg-color-blanc {
    background-color: rgb(255, 255, 255);
}


.button-header {
    background-color: #DBE2F5;
    padding: 10px 20px;
    border-radius: 8px;
}



.card {
  max-width: 600px;
  background: #eef2ff; /* light bluish background */
  border-radius: 24px;
  padding: 24px 28px;

  box-shadow:
    0 10px 25px rgba(0, 0, 0, 0.08),
    0 4px 10px rgba(0, 0, 0, 0.04);

  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

.mini-card {
  
  width: 220px;
  padding: 20px 18px;
  background-color: #fff;
  border-radius: 16px;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.4;
  color: #000;
  box-shadow:
    0 8px 20px rgba(0, 0, 0, 0.08),
    0 3px 8px rgba(0, 0, 0, 0.04);
}

/*marge*/

.texts{
    align-items: center;
}


.text-color-black{
    color: black;
    
}