* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    
}

footer{
    background-color: #001639;
    color: white;
    padding: 30px;
}


/* Background*/

.background{
    background-color: #3732F1;
    color: white;
}


.img{
    display: block;
}


/* LES CLASSES FONCTIONNELLES FLEX */

.flex {
    display: flex;
    flex-wrap: wrap;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.space-evenly {
    justify-content: space-evenly;
}

.justify-content {
    justify-content: space-between;
}

.justify-start {
    justify-content: flex-start;
}

.justify-center {
    justify-content: center;
}

.flex-end {
    justify-content: flex-end;
}

.flex-start {
    justify-content: flex-start;
}

.flex-direction{
    flex-direction: column;
}

/* alignement verticale */

.align-center {
    align-items: center;
}

.align-end {
    align-items: end;
}
.align-content{
    align-content: flex-start;
}
/* Gap */

.gap-25 {
    gap: 25px;
}

.text {
  text-align: left;
}


/* LES CLASSES DE LARGEUR */

.w-100 {
    width: 100%;
}
.w-125 {
    width: 125%;
}

.w-48 {
    width: 48%;
}

.w-33 {
    width: 33%;
}

.w-15 {
    width: 15%;

}

.w-25 {
    width: 25%;
}

.w-75 {
    width: 80%;
}

.w-30 {
    width: 30%;
}

.w-65 {
    width: 65%;
}


.w-50 {
    width: 50%;
}

.w-10 {
    width: 20%;
}

.w-122 {
    width: 122%;
}



.container-1000 {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}



.bg-hero {
    background-image: url('asset/966shots_so.png');
    background-color: #ffffff;
    background-position: center left 200px;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;

}

.bg-hero-2 {
    background-image: url('asset/Génération Active/Génération Active/Pexels Photo by Airam Dato-on (1).png');
    border-radius: 12px;
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
    background-position: 100% , left 120px;
}

.carte-hero {
    background-color: white;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0px 0px 50px  #0058e519;
    width: 38%;
}

.header {
   display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
    background-color: rgb(255, 255, 255);
 
  border-radius: 12px;
  width: 90%;
  margin: auto;
    box-shadow: 0px 0px 50px  #0058e519;
    a{
        color:#000;
    }
}


.margin-bottom-10{
    margin-bottom: 10px;
}
.margin-bottom-15{
    margin-bottom: 15px;
}

.margin-bottom-30{
    margin-bottom: 30px;
}

.margin-bottom-50{
    margin-bottom: 50px;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-top-40 {
    margin-top: 40px;
}

.margin-top-50{
    margin-top: 50px;
}

.margin-top-60{
    margin-top: 60px;
}

.margin-top-80{
    margin-top: 80px;
}
.margin-top-100{
    margin-top: 100px;
}

.margin-top-140{
    margin-top: 140px;
}



.margin-top-right {
    margin-right: 100px;
}


.bg-color-blanc {
    background-color: rgb(255, 255, 255);
}


.mini-card {
 background-color: #ffffff;
  border-radius: 10px;       
 padding: 20px;
  width: 170px;              
  flex-direction: column;              
  box-sizing: border-box; 
  box-shadow: 0px 0px 50px  #0058e519;

}



.mini-card2 {
 background-color: rgb(255, 255, 255);
  border-radius: 10px;       
 padding: 20px;
  width: 195px;                         
  
  box-shadow: 0px 0px 50px  #0058e519;

}

.carte-navigation {
 background-color: #ffffff; 
  border-radius: 10px;                   
  nav{
    border-radius: 16px;
    padding: 16px;
    a{
        color: #000;
    }
    li{
        margin-bottom: 8px;
    }
  }
}


.card {
  max-width: 600px;
  background: #eef2ff; 
  border-radius: 24px;
  box-shadow:
    0 10px 25px rgba(0, 0, 0, 0.08),
    0 4px 10px rgba(0, 0, 0, 0.04);
 
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}


.card2 {
  max-width: 600px;
  background: #ffffff; 
  border-radius: 24px;
  padding: 24px 28px;
 
  box-shadow:
    0 10px 25px rgba(0, 0, 0, 0.08),
    0 4px 10px rgba(0, 0, 0, 0.04);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

.card3 {
  max-width: 600px;
  background: #eef2ff; 
  border-radius: 24px;
  padding: 24px 28px;
  text-align: center;
  box-shadow:
    0 10px 25px rgba(0, 0, 0, 0.08),
    0 4px 10px rgba(0, 0, 0, 0.04);

  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}
.text-color-vert{
    color: #33B079;
}


.text-color-black{
    color: black;
    
}



.ombre{
    
    filter: drop-shadow(0px 0px 50px #0058e519);
}


/* texte bleu*/

.bleu{
    color: #3732F1;
}

/*boutons*/

.bouton{
    background-color: #1F75FF;
    padding: 5px 30px;
    border-radius: 8px;
    color: white;
    display: inline-block;
    margin-top: 20px;
}



/*footer*/
/*  Top  */
.top{
    padding-bottom: 20px;
}

.top2{
    margin-top: 5px;
}

.top3{
    margin-top: 120px;
}






.shadow{
box-shadow: 0px 0px 50px  #0058e519;
}


.button-header {
    background-color: rgba(31, 117, 255, 0.142);
    padding: 10px 20px;
    border-radius: 8px;
    color: white;
}

.button-site {
    background-color: rgb(31, 117, 255);
    padding: 10px 20px;
    border-radius: 8px;
    color: white;
}

.carte-info {
    background-color: white;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0px 0px 50px  #0058e519;
    width: 20%;
}

.margin-right-50{
    margin-right: 50px;
}

.padding-bottom-20{
    padding-bottom: 20px;
}

.padding-left-20{
    padding-left: 20px;
}

.padding-left-70{
    padding-left: 70px;
}

.padding{
    padding: 16px;
}

/*Legende*/

.trait{
    width : 100px;
    height: 4px;
    background-color: #000;
}
.rond{
    width: 8px;
    height: 8px;
    border-radius: 8px;
    background-color: #000;
}
.trait-legende{
    display: flex;
    margin-top: 8px;    
    align-items: center;
}

.legende{
    width:50%;
    position:absolute;
    top: 0%;
    left:0%;
}

.trait-gauche{
    flex-direction: row-reverse;
}

.relative{
    position: relative;
}


.padding2{
    padding: 20px;
}

.icon {
  color: #fedd06;
}


.bleu2{
    background-color: rgb(255, 255, 255);
    padding: 10px 20px;
    border-radius: 8px;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}







/*   SCROOLL   */

.slider-projets {
    display: flex; /* Affichage en flexbox horizontal */
    gap: 20px; /* Espace entre les projets */
   
    flex-shrink: 0; /* Empêche le rétrécissement de l'élément dans sa largeur. en gros on autorise les enfants a déborder */
    cursor: pointer; /* Change le curseur au survol */
}

/* Style individuel pour chaque projet */
.projet-item {
    width: 500px; /* Largeur fixe */
    flex-shrink: 0; /* Empêche le rétrécissement de l'élément */
    cursor: pointer; /* Change le curseur au survol */
}



.sliderProjets-container {
    display: flex; /* Affichage en flexbox horizontal */
    gap: 20px; /* Espace entre les éléments enfants */
    overflow-x: scroll; /* Permet le défilement horizontal */
    scroll-snap-type: x mandatory; /* Défilement fluide avec arrêt sur chaque élément */
    padding: 16px 0;
}

/* Style des images dans chaque projet */
.projet-item img {
    width: 100%;
    height: 200px;
    object-fit: cover; 
    border-radius: 8px;
    display: block; 
}
.scroll-container * {
    user-select: none;
}




.fixe{
    position: fixed ;
    width: 100%;
    z-index: 2;
    top :20px;
    left: 50%;
    transform: translateX(-50%);
}

.sticky{
    position: sticky;
    top: 100px;
}


.texte-centre {
text-align: center;
}





.border-radius-12{
    border-radius: 50px;
}











/* position pour les div autour des telephone */

/* position tel 1 et 3 */

.pos-tel1-gauche{
    top: 50px;
    left: -64px;
    .trait{
        width: 250px;
    }
}

.pos-tel1-droite{
    top: 214px;
    left: 290px;
    .trait{
        width: 250px;
    }
}

/* position tel 2 */








.padding-50{
    padding: 50px;
}





/* Témoignages - colonne gauche */
#avisclient .personne {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px;
  border-radius: 12px;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
  color: #2e2e2e;

}

/* si pas actif */
#avisclient .personne:not(.active):hover {
  background: #5385e9;
  transform: translateX(5px);
  
}

/* actif fix */
#avisclient .personne.active {
  background: #3934F2;
  transform: translateX(5px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    color: rgb(255, 255, 255);
  
}




/* Image */
#avisclient .personne img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

/* Texte gauche */
#avisclient .personne p:first-child {
  font-weight: 600;
  margin: 0;
}

#avisclient .personne p:last-child {
  font-size: 0.85rem;
  color: #ffffff;
  margin: 0;
}


/* Témoignage droite */
#avis-detail {
  padding: 24px;
  border-radius: 16px;
  transform: translate(0%, 20%);
}

/* Animation texte */
.fade {
  animation: fadeIn 0.4s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.button-temoins {
    background-color: rgba(31, 117, 255, 0.142);
    padding: 10px 20px;
    border-radius: 8px;
    color: white;
}


.carte-temoignage {
    border: 1px solid white;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0px 0px 10px  #0058e519;
    margin-top: -9%;
   
}


/* Police noir */

body{
    font-size: 17px;
    color: rgb(0, 0, 0);
    font-weight: lighter;
    font-family: poppins, sans-serif;
}









/*legende */

.legende{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
   
    p{
        max-width: 200px;
    }
}

.legende.inverse{
    align-items: flex-end;
}
.trait-legende{   
    margin-top: 8px;
    display: flex;
    align-items: center;
    width: 200%;

    .trait1{
        width: 100%;
        height: 2px;
        background-color: #000;
    }
    .rond1{
        width: 8px;
        height: 8px;
        background-color: #000;
    }

}

.inverse .trait-legende{
    flex-direction: row-reverse;
    width: 200%;
}


.posleg1{
    transform:translate(10px,146px);
}
.posleg2{
    transform: translate(10px,230px);
}






















.bg-red{
    background-color: red;
}

.bg-bleu{background-color: blue;}