* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    
}

footer{
    background-color: #001639;
    color: white;
    padding: 30px;
}


/* Background*/

.background{
    background-color: #3732F1;
    color: white;
}


.img{
    display: block;
}


/* LES CLASSES FONCTIONNELLES FLEX */

.flex {
    display: flex;
    flex-wrap: wrap;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.space-evenly {
    justify-content: space-evenly;
}

.justify-content {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.flex-end {
    justify-content: flex-end;
}

.flex-start {
    justify-content: flex-start;
}

/* alignement verticale */

.align-center {
    align-items: center;
}

.align-end {
    align-items: end;
}

/* Gap */

.gap-25 {
    gap: 25px;
}

/* LES CLASSES DE LARGEUR */

.w-100 {
    width: 100%;
}
.w-125 {
    width: 125%;
}

.w-48 {
    width: 48%;
}

.w-33 {
    width: 33%;
}

.w-15 {
    width: 15%;

}

.w-25 {
    width: 25%;
}

.w-75 {
    width: 80%;
}

.w-30 {
    width: 30%;
}

.w-50 {
    width: 50%;
}

.w-10 {
    width: 10%;
}


.container-1000 {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}



.bg-hero {
    background-image: url('asset/966shots_so.png');
    background-color: #ffffff;
    background-position: center left 200px;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;

}

.header {
   display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
    background-color: rgb(255, 255, 255);
  position: relative;
  border-radius: 12px;
  width: 90%;
  margin: auto;
    box-shadow: 0px 0px 50px  #0058e519;
    a{
        color:#000;
    }
}

.margin-top-40 {
    margin-top: 40px;
}
.margin-top-20 {
    margin-top: 20px;
}

.margin-bottom-15{
    margin-bottom: 20px;
}

.bg-color-blanc {
    background-color: rgb(255, 255, 255);
}


.mini-card {
  min-width: 180px;
  padding: 14px;
  background: #f2f4ff;
  border-radius: 12px;
  font-size: 13px;

  box-shadow:
    0 6px 14px rgba(0, 0, 0, 0.08);
}


.card {
  max-width: 600px;
  background: #eef2ff; 
  border-radius: 24px;
  padding: 24px 28px;
  text-align: center;
  box-shadow:
    0 10px 25px rgba(0, 0, 0, 0.08),
    0 4px 10px rgba(0, 0, 0, 0.04);
  margin: 0 auto;
   margin-top: 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}


.card2 {
  max-width: 600px;
  background: #ffffff; 
  border-radius: 24px;
  padding: 24px 28px;
  margin: 0 auto;
  margin-top: 10px;
  box-shadow:
    0 10px 25px rgba(0, 0, 0, 0.08),
    0 4px 10px rgba(0, 0, 0, 0.04);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

.text-color-vert{
    color: #33B079;
}


.text-color-black{
    color: black;
    
}



.ombre{
    
    filter: drop-shadow(0px 0px 50px #0058e519);
}


/*boutons*/

.bouton{
    background-color: #1F75FF;
    padding: 5px 30px;
    border-radius: 8px;
    color: white;
    display: inline-block;
    margin-top: 20px;
}

.top{
    padding-bottom: 20px;
}

.top2{
    margin-top: 5px;
}


.shadow{
box-shadow: 0px 0px 50px  #0058e519;
}


.button-header {
    background-color: rgba(31, 117, 255, 0.142);
    padding: 10px 20px;
    border-radius: 8px;
    color: white;
}

.button-site {
    background-color: rgb(31, 117, 255);
    padding: 10px 20px;
    border-radius: 8px;
    color: white;
}

.carte-info {
    background-color: white;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0px 0px 50px  #0058e519;
    width: 18%;
}
